CrewMemberView/Connected Services/SR_Crew/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="QueryAllTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="QueryAllTasksResult" nillable="true" type="q1:ArrayOfMyTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="QueryAllTypesResult" nillable="true" type="q2:ArrayOfMyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCrewMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCrewMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="QueryCrewMembersResult" nillable="true" type="q3:ArrayOfMyCrewMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>