CrewMemberView/Connected Services/SR_Crew/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Crew" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_Crew_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Crew_QueryAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllTasks" />
  </wsdl:message>
  <wsdl:message name="IService_Crew_QueryAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Crew_QueryAllTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllTypes" />
  </wsdl:message>
  <wsdl:message name="IService_Crew_QueryAllTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAllTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Crew_QueryCrewMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryCrewMembers" />
  </wsdl:message>
  <wsdl:message name="IService_Crew_QueryCrewMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryCrewMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Crew">
    <wsdl:operation name="QueryAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Crew/QueryAllTasks" message="tns:IService_Crew_QueryAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Crew/QueryAllTasksResponse" message="tns:IService_Crew_QueryAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAllTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Crew/QueryAllTypes" message="tns:IService_Crew_QueryAllTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Crew/QueryAllTypesResponse" message="tns:IService_Crew_QueryAllTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryCrewMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Crew/QueryCrewMembers" message="tns:IService_Crew_QueryCrewMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Crew/QueryCrewMembersResponse" message="tns:IService_Crew_QueryCrewMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService_Crew" type="tns:IService_Crew">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_Crew_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="QueryAllTasks">
      <soap12:operation soapAction="http://tempuri.org/IService_Crew/QueryAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAllTypes">
      <soap12:operation soapAction="http://tempuri.org/IService_Crew/QueryAllTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCrewMembers">
      <soap12:operation soapAction="http://tempuri.org/IService_Crew/QueryCrewMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Crew">
    <wsdl:port name="NetTcpBinding_IService_Crew" binding="tns:NetTcpBinding_IService_Crew">
      <soap12:address location="net.tcp://localhost:8722/Service_Crew/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8722/Service_Crew/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>