CrewMemberView/Connected Services/SR_Crew/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyTask" nillable="true" type="tns:MyTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyTask" nillable="true" type="tns:ArrayOfMyTask" />
  <xs:complexType name="MyTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyTask" nillable="true" type="tns:MyTask" />
  <xs:complexType name="ArrayOfMyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyType" nillable="true" type="tns:MyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyType" nillable="true" type="tns:ArrayOfMyType" />
  <xs:complexType name="MyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyType" nillable="true" type="tns:MyType" />
  <xs:complexType name="ArrayOfMyCrewMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyCrewMember" nillable="true" type="tns:MyCrewMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyCrewMember" nillable="true" type="tns:ArrayOfMyCrewMember" />
  <xs:complexType name="MyCrewMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="LicenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyCrewMember" nillable="true" type="tns:MyCrewMember" />
</xs:schema>